h1{
    position: relative;
    left: 12%;
    padding-top: 20px;
    font-size: 35px;
}
div.image{
    width: 150px;
    height: 150px;
    /* margin: 0 auto; */
}
/* .container{
    text-align: center;
}
.cards{
    display: flex;
    width: 250px;
    margin: 7px;
} */

